.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

.toggleButtonActive {
  background: rgba(170, 170, 170, 0.062);
}

.toggleButtonInactive {
  background: #ea4335;
}

.toggleButton:hover {
  background: rgba(204, 203, 203, 0.308);
  color: #fff;
}

.toggleButton:active {
  background: rgba(204, 203, 203, 0.5);
  top: 2px;
  left: 2px;
}

.toggleButton img {
  width: 15px;
  height: 15px;
}