.captureGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  list-style: none;
}

@media (max-width: 1000px) {
  .captureGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .captureGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .captureGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.captureList {
  position: relative;
  width: 100%;
}

.capturedImage {
  width: 100%;
  height: auto;
  border: 1px solid #5c5c5c;
}

.captureList button {
  background-color: transparent;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
}

.noDataMessage {
  margin-top: 1rem;
  text-align: center;
  color: #888;
}

.deleteIcon {
  width: 14px;
  height: 14px;
}

.image_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select_image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  height: 15px;
  width: 15px;
}

.favorite {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.favoriteActive {
  color: #ff0000; /* Cambia el color a tu preferencia */
}


.selected {
  transform: scale(0.95); 
  transition: transform 0.3s ease, background 0.3s ease;
  background: rgba(0, 123, 255, 0.9);
}
